*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  padding: 10px;
}

.deleteIcon{
  color:red;
  margin-right: 35px;
  
}

.editIcon{
  color: green;
}

.employee-details{
  font-size: 18px;
}

label {
  font-weight: bold;
  color: red;
  padding-bottom: 0.7rem;
}

span {
  margin-top: 4rem;
}

