*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header{
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
  padding: 1rem;
}

.deleteIcon{
  color:red;
  margin-right: 35px;
  margin-left: 35px;
}

.editIcon{
  color: green;
}